#details {
	margin-left: 15px;
}

	#details th {
		text-align: left;
		padding-right: 10px;
	}

#from {
	cursor: pointer;
	color: #336699;
}

	#from:focus, #from:hover, #from:active {
		color: #4ea2df;
	}
	
body{
	background-color: #e74c3c;
	font-family:Georgia, Times, "Times New Roman", serif;
}

#links{
	color:black;
	font-size:12px;
}